body{
  font-family: 'Noto Sans', sans-serif;
}
.text-heading {
  color: black;
  margin: 0 20px;
}
.citations {
  color: gray;
  font-size: 0.7rem;
}
.line-pic{
  width: 400px;
}



.grid-container * {
    border: 1px solid red;
    position: relative;
    height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ar1 ar1 ar2 ar2" "ar3 ar3 ar3 ar4" ". . . .";
}

.ar3 { grid-area: ar3; }

.ar4 { grid-area: ar4; }

.ar1 { grid-area: ar1; }

.ar2 { grid-area: ar2; }

.copy_2W, .copyContainer_1V, .chatCopyright_3s {
  display: none;
  opacity:0
}
